{% extends 'adminindex3.html' %}
{% block body %}

<body>
 <style>
#customersd {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
#customersd td, #customersd th {
  border: 0px;
  padding: 8px;
}
#customersd tr:nth-child(even){background-color: #f2f2f2;}
#customersd tr:hover {background-color: #ddd;}
#customersd th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  background-color: #198754;
  color: white;
}
.frm-input{
  width: 300px;
}
</style>
<form  method="post" action="reports1">
   <!---->
  <div align="center">
    <br>
    <br>
    <h1>Reports</h1>
    <br>
    <br>


    <table width="600" border="1" align="center" id="customers">
      <tr align="right"><th colspan="5" align="right"><div align="right"><input type="month" name="name"></div>
      <div align="right"><select name="doc">
        <option value="">Select</option>
        {% for i in val1 %}
        <option value="{{i[9]}}">{{i[1]}} {{i[2]}}</option>
        {% endfor %}
      </select><input type="submit" value="search"></div></th></tr>
      <tr>
        <th width="40" scope="col">Patient ID</th>
        <th width="65" scope="col">Name</th>
        <th width="80" scope="col">Time</th>
        <th width="158" scope="col">Date</th>

      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[2]}}</td>
        <td>{{i[0]}}</td>
        <td>{{i[9]}} to {{i[10]}}</td>
        <td>{{i[4]}}</td>
      </tr>
      {% endfor %}
      </table>
  </div>

</form>
</body>
{% endblock %}

